*{
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
}
.header .shopname{
    color:red;
    margin-bottom: 20px;
}
.header a{
    justify-content: center;
    display: inline-block;
    padding: 5px;
}
.mainabout h1{
    margin-top: 15px;
    color:purple;
    text-align: center;
    margin-bottom: 15px;
}
.mainabout p{
    margin-bottom: 15px;
}
.mainabout h5{
    color: goldenrod;
    font-size: 18px;
    margin-bottom: 15px;
}