*{
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
}
.header .shopname{
    color:red;
    margin-bottom: 20px;
}
.header a{
    justify-content: center;
    display: inline-block;
    padding: 5px;
}
.mainproduct{
    text-align: center;
}
.mainproduct h1{
    color:purple;
    margin-top: 15px;
    margin-bottom: 15px;
}
.picture {
    width: 200px !important;
}